@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full overflow-x-hidden;
  }
  body {
    @apply overflow-x-hidden bg-brand-dark text-brand-white font-sans text-sm md:text-base h-full;
  }
  #__next {
    @apply relative min-h-full;
  }
  a {
    @apply text-brand-white no-underline;
  }
  p {
    @apply text-lg max-w-prose;
  }
}

.BrainhubCarousel__track,
.BrainhubCarousel__trackContainer,
.BrainhubCarousel__container,
.BrainhubCarousel {
  overflow: visible !important;
}

.BrainhubCarousel *:not(button) {
  height: 100% !important;
}

.BrainhubCarousel__arrows {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  position: absolute !important;
  z-index: 20;
  background-color: transparent !important;
}

.BrainhubCarousel:hover .BrainhubCarousel__arrows,
.BrainhubCarousel:focus-within .BrainhubCarousel__arrows {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

.BrainhubCarousel__arrows span {
  height: auto !important;
}

.BrainhubCarousel__arrowRight {
  right: 3rem;
}
.BrainhubCarousel__arrowLeft {
  left: 3rem;
}
